.brand-container {
  display: flex;
  width: 15rem;
  height: 40px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  padding: 2px 5px;
  transform: translateY(-50%);
  z-index: 10;
  border-radius: 0.2rem;
  .brand-warpper {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    position: relative;
    span {
      margin-right: 0.5rem;
    }
    img {
      width: 30px;
      height: 30px;
      margin-left: 0.2rem;
      margin-right: 0.2rem;
      border-radius: 50%;
      overflow: hidden;
    }
    .list-holdings {
      position: absolute;
      // background-color: red;
      color: red;
      width: 230px;
      height: 40px;
      display: flex;
      top: 100%;
      right: 0;
      background-color: white;
      // transform: translateY(-50%);
    }
  }
 
}
