.checkbox-component {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	.checkbox-container {
		display: block;
		position: relative;
		padding-right: 1rem;
		margin-bottom: 1.1rem;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.checkbox-container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 18px;
		width: 18px;
		cursor: pointer;
		margin-left: 0.5rem;
		border-radius: 3px;
	}
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}
	.checkbox-container input:checked ~ .checkmark:after {
		display: block;
	}
	.checkbox-container .checkmark:after {
		left: 0;
		top: -5px;
		width: 40%;
		height: 80%;
		border: solid white;
		border-radius: 2px;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(40deg);
		-ms-transform: rotate(40deg);
		transform: rotate(40deg) translate(50%, 0%);
	}
}
