.filter-container {
	direction: rtl;
	border: 1px;
	select {
		// padding: 0.2rem 0.4rem;
		outline: none;
		width: 100%;
		border: 1px solid;
		font-size: 0.8rem;
		border-radius: 4px;
		.extra {
			border: 1px solid red;
		}
	}
}
