.BanksContainer {
    width: 100%;
    height: calc(100% - 3px);
    padding: 0 5%;
    border-top: 1px solid rgba($color: #ccc, $alpha: 0.4);
    .SliderContainer {
        .divstyle {
            background-color: white;
        }
        .slick-prev:before,
        .slick-next:before {
            color: black;
            background-color: white;
            // display: none;

        }
       
    }
    // background-color: red;
    // background-color: red;
}
