@import "../../assets/config/config";

.LayoutContentContainer {
  height: 100%;
  width: 100%;
  // box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
  //   rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  transition: color 0.2s ease-out, background 0.2s ease-out;
  .ModalOverlay {
    z-index: 1000;
    position: fixed;
    inset: 0px;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    
    /*
    
    position: absolute;
    inset: 50% auto auto 50%;
    border: 1px solid rgb(204, 204, 204);
    background: var(--primary-background-color);
    overflow: hidden;
    border-radius: 8px;
    outline: none;
    padding: 16px;
    height: 90vh;
    width: 90vw;
    max-height: 560px;
    max-width: 480px;
    transform: translate(-50%, -50%) scale(1);
    transition: all 150ms cubic-bezier(0, 0, 0.35, 1) 0s, opacity 112.5ms cubic-bezier(0, 0, 0.35, 1) 37.5ms;
    will-change: width;
    box-shadow: rgb(0 0 0) 0px 6px 20px 0px;
    color: var(--primary-text-color);
    opacity: 1;
    
    */
  }
  .LeftSectionContainer {
    width: 87%;
    margin-left: 0;
    height: 100%;
    display: block;
    .NavbarContainer {
      height: auto;
      margin-top: 0;
      width: 100%;
    }
    .BodyContainer {
      height: calc(100% - 7.5rem);
      margin-top: 0;
      width: 100%;
      // box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 10px inset;
      overflow-y: auto;
      .BodyContent {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        .CreateChartContainer {
          display: flex;
          flex-direction: row;
          color: rgb(44, 175, 44);
          padding-right: 1rem;
        }
        .CreateChartContainer:hover {
          cursor: pointer;
        }
      }
    }
  }

  .Extend {
    animation: ease-out 200ms forwards Extend;
  }
  @keyframes Extend {
    0% {
      width: 0.89%;
    }
    50% {
      width: 93%;
    }
    100% {
      width: 100%;
    }
  }
  .Reduce {
    animation: ease-out 200ms forwards Reduce;
  }
  @keyframes Reduce {
    0% {
      width: 98%;
    }
    50% {
      width: 93%;
    }
    100% {
      width: 87%;
    }
  }

  .RightSectionContainer {
    width: 13%;
    margin-left: 0;
    height: 100%;
  }
}
