.LayoutContentContainer {
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: row;
    .LeftSectionContaienr {
        width: 92vw;
        margin-left: 0;
        height: 100%;
        display: block;
        .NavbarConainer {
            height: 6rem;
            margin-top: 0;
            width: 100%;
        }
        .BodyContainer {
            height: calc(100% - 6rem);

            margin-top: 0;
            width: 100%;
            background-color: blue;
        }
    }
    .RightSectionContaienr {
        width: 13vw;
        margin-left: 0;
        height: 100%;
    }
}
