.custom-select-container {
	width: 20rem;
	direction: rtl;
	border: 1px;
	margin-bottom: 2rem;
	p {
		margin-bottom: 1rem;
	}
	select {
		padding: 0.2rem 0.4rem;
		outline: none;
		width: 100%;
		border: 1px solid;
		font-size: 1rem;
		border-radius: 4px;
	}
}
