@import "../../../../assets/config/global";

.body-container {
	.react-grid-layout {
		position: relative;
		transition: height 200ms ease;
	}
	.react-grid-item {
		transition: all 200ms ease;
		transition-property: left, top;
	}
	.react-grid-item.react-grid-placeholder {
		background: rgb(175, 175, 175);
		border: 4px dashed #554ac5;
		opacity: 0.5;
		border-radius: 10px;
		transition-duration: 100ms;
		z-index: 5;
	}
	.react-grid-item > .react-resizable-handle {
		position: absolute;
	}
	.react-grid-item > .react-resizable-handle::after {
		content: "";
		position: absolute;
		right: 0px;
		bottom: 0px;
		width: 15px;
		height: 15px;
		border: none;
		background-color: #a7a6e3;
		clip-path: polygon(100% 0, 100% 100%, 0 100%);
		// border-right: 2px solid #a7a6e3;
		// border-bottom: 2px solid #a7a6e3;
	}
	.react-resizable-hide > .react-resizable-handle {
		display: none;
	}
	.card-container {
		position: relative;
		// transform: translate3d(0px, 0px, 0px);
		margin-bottom: 16px;
		border-radius: 10px;
		overflow: visible;
		color: #bbbbbb;
		animation: 0.3s linear 0s 1 normal none running automationCard;
	}
	// .card-container:hover {
	//   transform: translate3d(0px, -4px, 0px);
	// }
}

.overflow {
	overflow-y: auto;
}
