.user-access-chart-container {
	.users-selector-section {
		display: flex;
		.select-user-input-wrapper {
			width: fit-content;
			.input-title {
				margin-bottom: 0.5rem;
				font-size: 0.8rem;
			}
			.input-and-search-icon {
				position: relative;
				.search-icon {
					position: absolute;
					display: flex;
					align-self: center;
					left: 0.5rem;
					bottom: 0.5rem;
				}
			}
			.users-list-container {
				margin-top: 3rem;
			}
		}
		.chart-access {
			width: 100%;
			margin-right: 2rem;
			padding: 0 1rem;
			.selected-user-access-title {
				display: flex;
				font-size: 1.5rem;
				p {
					margin: 0 0.5rem;
					font-weight: bolder;
				}
			}
			.selected-user-access-body {
				margin-top: 2rem;
			}
		}
	}
}
