.bank-item-container {
  display: flex;
	justify-content: center;
	align-items: center;
  cursor: pointer;
  padding: 0.2rem 1rem;
  border-radius: 0.25rem;
  margin-left: 1rem;
  position: relative;
	transition: all 0.1s ease;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  white-space: nowrap;
  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 30%;
    }
  }
}
