.select-bank-modal-container {
  position: absolute;
  inset: 50% auto auto 50%;
  border: 1px solid;
  overflow: hidden auto;
  border-radius: 8px;
  outline: none;
  padding: 1.5rem;
  height: auto;
  width: 500px;
  max-height: 90vh;
  max-width: 1020px;
  transform: translate(-50%, -50%);
  transition: all 2s ease 0s;
  will-change: width;
  // box-shadow: 0px 6px 20px 0px rgb(0 0 0);
  .select-bank-title {
    width: 100%;
    margin-bottom: 0.5rem;
    .title {
      display: flex;
      justify-content: flex-end;
      font-size: 1.3rem;
      margin-bottom: 0.2rem;
    }
    .description {
      font-size: 0.7rem;
      opacity: 0.5;
    }
  }
  .select-bank-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .select-bank-address {
      display: flex;
      flex-direction: row-reverse;
      font-size: 13px;
      margin: 0.3rem;
      .address-part {
        display: flex;
        .address-item {
          padding: 0 0.3rem;
        }
      }
    }
    .input-class,
    select {
      width: 100%;
      display: inline-block;
      font-size: 13px;
      padding: 0.2rem;
      border: 1px solid;
      border-radius: 4px;
      box-sizing: border-box;
      outline: none;
    }
    .search-icon {
      position: absolute;
      left: 2rem;
      top: 8rem;
    }
  }
  .loading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    opacity: 0.9;
  }
  .select-bank-picker {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 0.3rem;
    .selection-item {
      &:hover {
        cursor: pointer;
      }
    }
  }
  .modal-footer {
    display: flex;
    padding-top: 1rem;
    // padding-left: 1rem;
    padding-bottom: 1rem;
    align-items: center;
  }
}
