.body-container {
  height: 96%;
  margin-top: 0;
  width: 100%;
  // max-width: calc(100% - 25rem);
  // max-width: calc( 100% - 25rem ) !important;
  //   overflow-y: auto;
  .header-body-view-container {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid;
  }

  .body-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(100% - 70px);
    .create-chart-container {
      display: flex;
      flex-direction: row;
      color: rgb(44, 175, 44);
      padding-right: 1rem;
    }
    .create-chart-container:hover {
      cursor: pointer;
    }
  }
}
