.create-new-user-container {
    .create-new-user-get-phone-container {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        direction: ltr;
        padding: 0 1rem;
    }
    .create-new-user-verify-code-container{
        width: 100%;
        display: flex;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        direction: ltr;
        .create-new-user-header-verify-contianer {
            width: 15rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            h5 {
                font-weight: 200;
                font-size: 17px;
                margin-bottom: 0.4rem;
            }
        }
        
    }
    .button-create-new-user-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-top: 1.5rem;
        .button-text {
            display: flex;
            font-size: 0.9rem;
            font-weight: 100;
            border-radius: 0.2rem;
            overflow: hidden;
            align-items: center;
            padding: 0.5rem 1rem;
        }
    }
}
