.CreateChartsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    
    .RightContainer{
        height: 100%;
        width: 100%;
        display: flex;
        padding: 1rem;
        
    }
}