@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown {
  position: absolute;
  overflow: hidden;
  margin-top: 1.5rem;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.1);
  background-color: rgba(243, 243, 243, 0.5);
  backdrop-filter: blur(5px);
  animation: fadeIn 0.2s ease-in-out;
  .dropdown-divider {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0.8rem;
  }
  .dropdown-item {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 0.75rem 0.5rem 3rem;
    font-size: 0.8rem;
  }
  .dropdown-icon {
    margin: 0.2rem 0 0 0.5rem;
    opacity: 0.5;
    filter: grayscale(100%);
  }
  .dropdown-item:hover {
    background-color: rgba(230, 230, 230, 0.5);
    cursor: pointer;
    .dropdown-icon {
      opacity: 1;
      filter: grayscale(0%);
    }
  }
}
