.bank-section-container {
  width: 100%;
  height: 100%;
  .table-bank {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
    cursor: default;
    user-select: text;
    .tabe-bank-thead-tr {
      th {
        padding: 0.5rem;
        border-width: 1px;
        border-style: solid;
      }
    }
    .tabe-bank-tbody-tr {
      td {
        cursor: text;
        border-width: 1px;
        border-style: solid;
        user-select: text;
      }
    }
    thead tr:nth-child(1) th {
      position: sticky;
      background-color: #554ac5;
      top: 0;
    }
  }
}
